<h1><%= @student.name %></h1>



<h3>Total Hours Worked: <%= @hours %></h3>

<h3>Current Projects:</h3>
<ul>
<% @projects.each do |project| %>
	<% if project.current? %>
		<li><%= link_to project.title, project %></li>
	<% end %>
<% end %>
</ul>

<h3>Completed Projects:</h3>
<ul>
<% @projects.each do |project| %>
	<% if project.complete? %>
		<li><%= link_to project.title, project %></li>
	<% end %>
<% end %>
</ul>

