<h1>Completed Projects:</h1>
<%= link_to "New Proposal", controller: 'projects',
        action: 'new' %>
<ul>
<div id="projects">
<% @projects.each do |project| %>
	<% if project.complete? %>
		<li><%= link_to project.title, project %></li>
	<% end %>
<% end %>
</ul>
</div>