<h3>Completed Projects:</h3>
<ul>
<% @projects.each do |project| %>
	<% if project.complete? %>
		<!-- below link will work, but the paths don't exist yet so it is throwing an error -->
		<!-- <li><%= link_to project, project %></li>-->
	<% end %>
<% end %>
</ul>